<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= initialComponentName %></title>

  <script type="text/javascript" src="https://unpkg.com/skatejs-web-components/dist/index.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/skatejs/dist/index-with-deps.min.js"></script>
  <script type="text/javascript" src="/dist/<%= initialComponentName %>.bundle.js"></script>
</head>
<body>
  <<%= initialComponentName %>></<%= initialComponentName %>>
</body>
</html>
